service: invenco
frameworkVersion: "4"
useDotenv: true

provider:
  name: aws
  runtime: nodejs22.x
  region: ap-southeast-2
  environment:
    DATABASE_URL: ${env:DATABASE_URL}

build:
  esbuild:
    bundle: true
    minify: false
    # Exclude prisma from the bundle so it prevents errors with the binary engines
    external:
      - "@prisma/client"
      - ".prisma"

# Explicitly include the Prisma engines in the zip package
package:
  patterns:
    - "!./**"
    - "src/**"
    - "node_modules/.prisma/client/**"
    - "node_modules/@prisma/client/**"
    - "prisma/schema.prisma"

functions:
  searchClasses:
    handler: src/classes/index.search
    events:
      - httpApi:
          path: /classes/search
          method: get
  bookClass:
    handler: src/classes/index.book
    events:
      - httpApi:
          path: /classes/book
          method: post
  getClassById:
    handler: src/classes/index.getClassById
    events:
      - httpApi:
          path: /classes/{id}
          method: get

plugins:
  - serverless-offline
